# Lab | Making predictions with logistic regression

In this lab, you will be using the Sakila database of movie rentals.

In order to optimize our inventory, we would like to know which films will be rented. We are asked to create a model to predict it. So we use the information we have from May 2005 to create the model.

Instructions:
1. Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features (X).
2. Create a query to get the list of all unique film titles and a boolean indicating if it was rented (rental_date) in May 2005. (Create new column called - 'rented_in_may'). This will be our TARGET (y) variable.
3. Read the data into a Pandas dataframe. At this point you should have 1000 rows. Number of columns depends on the number of features you chose.
4. Analyze extracted features (X) and transform them. You may need to encode some categorical variables, or scale numerical variables.
5. Create a logistic regression model to predict 'rented_in_may' from the cleaned data.
6. Evaluate the results.

In [3]:
# import modules and get pwd
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [24]:
# connecting to sql and get the data
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)

# I do it all in one query, where I have 1000 rows
query = '''SELECT DISTINCT f.title, f.release_year, f.rental_duration, f.rental_rate, f.length, f.rating,
max(CASE WHEN r.rental_date BETWEEN '2005-05-01' AND '2005-05-31' THEN 1 ELSE 0 END) AS rented_in_may
FROM film f
LEFT JOIN inventory i ON f.film_id = i.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
GROUP BY f.film_id'''
movies = pd.read_sql_query(query, engine)
movies.head()

,title,release_year,rental_duration,rental_rate,length,rating,rented_in_may
0,ACADEMY DINOSAUR,2006,6,0.99,86,PG,1
1,ACE GOLDFINGER,2006,3,4.99,48,G,0
2,ADAPTATION HOLES,2006,7,2.99,50,NC-17,0
3,AFFAIR PREJUDICE,2006,5,2.99,117,G,1
4,AFRICAN EGG,2006,6,2.99,130,G,1

In [28]:
# check if 'release_year' is always 2006.
movies['release_year'].value_counts()

release_year
2006    1000
Name: count, dtype: int64

In [29]:
# I wil remove 'release_year' as does not add relevant information to the model.
movies = movies.drop(['release_year'], axis=1)
movies.columns

Index(['title', 'rental_duration', 'rental_rate', 'length', 'rating',
       'rented_in_may'],
      dtype='object')

In [30]:
# Analyze extracted features (X) and transform them. You may need to encode some categorical
# variables, or scale numerical variables.

In [31]:
# Need to X-y split and train-test-split BEFORE I apply transformations, 
# then train transformation on training set only
y = movies['rented_in_may']
X = movies.drop('rented_in_may', axis=1)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [32]:
# I encode the numerical features
from sklearn.preprocessing import MinMaxScaler

X_train_num = X_train.select_dtypes(include = np.number)

# Scaling data
transformer = MinMaxScaler().fit(X_train_num) # need to keep transformer
X_train_normalized = transformer.transform(X_train_num)
X_train_norm = pd.DataFrame(X_train_normalized, columns=X_train_num.columns)
X_train_norm

     rental_duration  rental_rate    length
0               1.00          0.0  0.050360
1               1.00          0.5  0.791367
2               0.00          0.0  0.899281
3               1.00          0.0  0.251799
4               0.50          0.5  0.726619
..               ...          ...       ...
795             0.00          0.5  0.956835
796             0.25          1.0  0.755396
797             0.25          0.0  0.683453
798             0.50          0.0  0.791367
799             0.75          0.0  0.748201

[800 rows x 3 columns]

In [55]:
# I encode the categorical features
from sklearn.preprocessing import OneHotEncoder

X_train_cat = X_train.select_dtypes(include = object)

display(X_train_cat['title'].value_counts())
display(X_train_cat['rating'].value_counts())

# I have to drop 'title' from 'X_train_cat' as it won't give the model any relevant information
X_train_cat = X_train_cat.drop(['title'], axis=1)
X_train_cat

encoder = OneHotEncoder(drop='first').fit(X_train_cat)  # This is useful for put our data into the model. The less variables the better so we drop a redundant one.

cols = encoder.get_feature_names_out(input_features=X_train_cat.columns)
onehot_encoded = pd.DataFrame(encoder.transform(X_train_cat).toarray(),columns=cols)

onehot_encoded.head(20)

title
PRIMARY GLASS         1
DATE SPEED            1
STEEL SANTA           1
SALUTE APOLLO         1
OUTLAW HANKY          1
                     ..
MAGNOLIA FORRESTER    1
CIDER DESIRE          1
TOWN ARK              1
FIGHT JAWBREAKER      1
CLEOPATRA DEVIL       1
Name: count, Length: 800, dtype: int64

rating
NC-17    176
PG-13    171
R        156
PG       150
G        147
Name: count, dtype: int64

    rating_NC-17  rating_PG  rating_PG-13  rating_R
0            0.0        0.0           0.0       0.0
1            0.0        0.0           0.0       0.0
2            0.0        0.0           1.0       0.0
3            1.0        0.0           0.0       0.0
4            0.0        0.0           0.0       0.0
5            0.0        0.0           1.0       0.0
6            0.0        0.0           1.0       0.0
7            0.0        0.0           1.0       0.0
8            0.0        0.0           1.0       0.0
9            0.0        0.0           1.0       0.0
10           0.0        0.0           0.0       0.0
11           0.0        0.0           0.0       0.0
12           0.0        1.0           0.0       0.0
13           0.0        0.0           1.0       0.0
14           0.0        1.0           0.0       0.0
15           0.0        0.0           1.0       0.0
16           1.0        0.0           0.0       0.0
17           0.0        1.0           0.0       0.0
18           1.0        0.0           0.0       0.0
19           0.0        0.0           0.0       1.0

In [56]:
# Create a logistic regression model to predict 'rented_in_may' from the cleaned data.

In [57]:
# build X_train and y_train
X_train_transformed = np.concatenate([X_train_norm, onehot_encoded], axis=1)

In [58]:
X_train_transformed

array([[1.        , 0.        , 0.05035971, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.5       , 0.79136691, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.89928058, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.25      , 0.        , 0.68345324, ..., 0.        , 1.        ,
        0.        ],
       [0.5       , 0.        , 0.79136691, ..., 0.        , 1.        ,
        0.        ],
       [0.75      , 0.        , 0.74820144, ..., 0.        , 1.        ,
        0.        ]])

In [59]:
# fit out model
from sklearn.linear_model import LogisticRegression
classification = LogisticRegression(solver='lbfgs').fit(X_train_transformed, y_train)

In [60]:
# We can not make predictions on the X_test yet, we need to perform transformations on the X_test as well

In [61]:
# I encode the numerical features
X_test_num = X_test.select_dtypes(include = np.number)

# Scaling data
transformer = MinMaxScaler().fit(X_test_num) # need to keep transformer
X_test_normalized = transformer.transform(X_test_num)
X_test_norm = pd.DataFrame(X_test_normalized, columns=X_test_num.columns)
X_test_norm

     rental_duration  rental_rate    length
0               0.75          0.5  0.546763
1               0.25          1.0  0.633094
2               0.75          0.0  0.424460
3               0.25          0.5  0.697842
4               0.50          0.0  0.467626
..               ...          ...       ...
195             1.00          0.5  0.776978
196             1.00          1.0  0.107914
197             0.00          0.0  0.258993
198             0.25          1.0  0.028777
199             1.00          0.0  0.920863

[200 rows x 3 columns]

In [62]:
# I encode the categorical features
X_test_cat = X_test.select_dtypes(include = object)

# I have to drop 'title' from 'X_train_cat' as it won't give the model any relevant information
X_test_cat = X_test_cat.drop(['title'], axis=1)
X_test_cat

encoder = OneHotEncoder(drop='first').fit(X_test_cat)  # This is useful for put our data into the model. The less variables the better so we drop a redundant one.

cols = encoder.get_feature_names_out(input_features=X_test_cat.columns)
onehot_encoded = pd.DataFrame(encoder.transform(X_test_cat).toarray(),columns=cols)

onehot_encoded.head(20)

    rating_NC-17  rating_PG  rating_PG-13  rating_R
0            0.0        0.0           0.0       0.0
1            0.0        0.0           1.0       0.0
2            0.0        0.0           0.0       0.0
3            0.0        0.0           0.0       1.0
4            0.0        0.0           0.0       1.0
5            0.0        0.0           1.0       0.0
6            0.0        0.0           0.0       1.0
7            0.0        0.0           1.0       0.0
8            0.0        0.0           0.0       0.0
9            0.0        1.0           0.0       0.0
10           0.0        0.0           1.0       0.0
11           1.0        0.0           0.0       0.0
12           1.0        0.0           0.0       0.0
13           0.0        0.0           0.0       0.0
14           0.0        0.0           0.0       0.0
15           0.0        0.0           0.0       1.0
16           0.0        0.0           1.0       0.0
17           1.0        0.0           0.0       0.0
18           0.0        0.0           0.0       1.0
19           0.0        0.0           1.0       0.0

In [63]:
# we concatenate both X_test_norm and onehot_encoded
X_test_transformed = np.concatenate([X_test_norm, onehot_encoded], axis=1)

In [65]:
X_test_transformed

array([[0.75      , 0.5       , 0.54676259, ..., 0.        , 0.        ,
        0.        ],
       [0.25      , 1.        , 0.63309353, ..., 0.        , 1.        ,
        0.        ],
       [0.75      , 0.        , 0.42446043, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.25899281, ..., 0.        , 0.        ,
        1.        ],
       [0.25      , 1.        , 0.02877698, ..., 0.        , 0.        ,
        1.        ],
       [1.        , 0.        , 0.92086331, ..., 0.        , 1.        ,
        0.        ]])

In [66]:
# Now we can make predictions on the test set:
predictions = classification.predict(X_test_transformed)
predictions
classification.score(X_test_transformed, y_test)

0.605

In [67]:
# The model predicts 60% of the results well. So it is an usable model, even though I can improve it adding more 
# relevant features or trying other forms of encoding as StandardScaler